extends layout

block content
  //- h1= mydata 
  h1 Venkatesh's Info 
  p Welcome to my Bio

  p Myself Venkatesh Mudam from Karimnagar. Worked as an Analyst, Survey Programming in Annalect India. Currently pursuing master's in Applied Computer science.
  p Interested in roaming, movies, chilling out.
  
  
